{% if node.field_banner.0 %}
  <section class="carousel" aria-label="Gallery">
    <ol class="carousel__viewport">
      {% for key,item in node.field_banner %}
        <li id="carousel__slide{{ key }} {% if(key == 0) %} active {% endif %}" tabindex="0" class="carousel__slide">
          <div class="carousel__snapper">
            {{ item.entity.name.value }}
            <a href="#carousel__slide{{ key - 1 }}" class="carousel__prev">Go to last slide</a>
            <a href="#carousel__slide{{ key + 1 }}" class="carousel__next">Go to next slide</a>
          </div>
        </li>
      {% endfor %}
    </ol>
  </section>
{% endif %}

<section class="home_products">
  <div class="home_products-container">
    {% if node.field_title_2.value %}
      <h2 class="home_products-title">{{ node.field_title_2.value }}</h2>
    {% endif %}

  </div>
</section>

<section class="home_benefits">
  <ul class="home_benefits-list">
    <li>
      <div class="home_benefits-container">
        <div>
          <h3>title</h3>
          <div>text</div>
          <a>link</a>
        </div>
        <img src="" alt="">
      </div>
    </li>
  </ul>
</section>


